#barchart {
  position: relative;
  min-width: 400px;
}
#barchart div label {
  float: left;
}
#barchart div {
  background: blue;
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.bar {
  min-width: 50px;
}
