#barchart {
  position: relative;
  min-width: 400px;
}
#barchart div label {
  float: left;
}
#barchart div {
  background: blue;
  font: 12px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 0;
  color: black;
  padding: 0 8px;
}
.bar {
  min-width: 60px;
}
